{% extends '__base.html' %}

{% block title %}About page{% endblock %}

{% block content %}

<section class="single-post">
			<div class="full-width">
				<div class="blog-details">
					<h2 class="blog-title">DOTA2 Pro Tips</h2>
					<ul class="meta">
						<li><a href="#"><i class="fa fa-clock-o"></i>Jan 11,2018</a><span>by:</span> <a href="#">Source</a></li>
					</ul>

					<div class="feature-image">
						<div class="youtube-wrapper">
							<div class="youtube-poster" data-bg-image="media/video/12.jpg" style="background-image: url(&quot;media/game/30.jpg&quot;);"></div>
							<!-- <iframe src="//player.vimeo.com/video/56585357" allowfullscreen=""></iframe> -->
							<iframe width="560" height="315" src="https://www.youtube.com/embed/6IU7v9IRXIM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>

					<p>
						The best Counter-Strike: Global Offensive tip to become better is to practice a lot. However, it has to be done correctly too. With a few guidelines provided you will be able to perform way better at CS:GO tournaments/matches. Becoming aware of how to adapt to different situations, etc. Aim skill is very important! It's your own personal growth factor to the top. Which is greatly determined by: game settings, your hardware, psychology, concentration, strategy. Lets get right to DO'S ant DON'TS of CS:GO! 
					</p>
							<h2> DONT'S in CS:GO: </h2>
					<p>
						<li>
							DON’T peek when your reload isn’t finished. (An obvious one, but still many people make this mistake)
						</li>
						<li>
							DON’T aim at the floor/legs. (Learn to keep your crosshair at the height of the head/neck)
						</li>
						<li>
							DON’T peek in with your W key(forward), always peek while side strafing. (This gives you a chance to quickly hide if needed)
						</li>
						<li>
							DON’T reload when you are in a dangerous spot and you still have more than 5-6 bullets, get safe and then reload.
						</li>
						<li>
							DON'T be a toxic player. Always negative and disrespectful.. (This sucks!)
						</li>
						<li>
							DON'T let your ego surpass your skill. Underestimation of enemy player is huge mistake.
						</li>
						<li>
							DON'T stop to practice? By nature humans build up skill through time. When you don't play for longer periods of time your brain and reflections may forget what you have taught yourself while playing. So if your goal is to be really good at something you go and do it! And do it! And JUST DO IT!
						</li>
					</p>

					<p>
						<h2> DO'S in CS:GO: </h2>
						<li>
							DO be optimistic, always adapting to situations with motivation. It is statistically proven that how you respond to given situations determines your future performance.
						</li>
						<li>
							DO buy a good mouse, keyboard, and use headphones to hear enemy steps!
						</li>
						<li>
							DO prefire common spots/corners at headshot level.
						</li>
						<li>
							DO stay focused!
						</li>
						<li>
							DO allota practice!
						</li>
						<li>
							DO learn to one tap headshot!
						</li>
					</br>
						Now you may ask, why the heck is there more dont's that do's? The answer is simple: they are the same coin just different sides. Both don't and do's make you do something. And while you do these things mentioned above, you will discover new rules that may improve your performance! That is called adaptation to environment. At first you may need a kick in your ass, but after you have learned the basics, further knowledge comes to you like bees to honey!
					</p>	

					<h3>Mindset</h3>
					<p>
						Now I want to share my experience on mindset. How a different mindset determines your game performance, etc..
					</p>

					<blockquote>
						“When you can't control what's happening, challenge yourself to control the way you respond to what's happening, that's where your power is.”
					</blockquote>

					<p>
						That is totally right! Because your response is one and the most important factors for your performance as a player. It doesn't really matter which game, or even life situation is. The game may seem going to a total shitfest, but your response can change the outcome. Either you break or go for a win streak! 
					</p>

					<p>
						Staying calm and cold hearted. Do not get into emotions, feel the pure adrenaline pumping in your system, this wonderful chemical substance is MVP! It can help your reaction get thousand times faster and your intuition thousand times better. Become your own leader, or be leaded by someone else!
					</p>

					<div class="blog-inner-thumb">
						<div class="row no-gutters">
							<div class="col-md-8 pr__15">
								<img src="media/blog/97.jpg" alt="thumb">
							</div>

							<div class="col-md-4">
								<img class="mb__15" src="media/blog/98.jpg" alt="thumb">
								<img src="media/blog/99.jpg" alt="thumb">
							</div>
						</div>
						<!-- /.row -->
					</div>

					

					<h3>The end</h3>
					<p>
						This guide will be improved. However, for now keeping these things you read in your mind and developing your skill is essential for your further CS:GO gaming journey! I have concluded the things for 1vs1 CS:GO gameplay as our tournaments now are assigned to be as such. Later, the platform will be updated and playing with your clan will be an opportunity to earn even more money than ever before!
					</p>
					<div class="blog-footer clearfix">
						<div class="tagCloud float-left">
							<a href="#">#counter-strike</a>
							<a href="#">#CS:GO</a>
							<a href="#">#valve</a>
							<a href="#">#steam</a>
							<a href="#">#guide</a>
						</div>

						<ul class="share float-right">
							<li>
								<a href="#" class="fb_bg"><i class="fa fa-facebook"></i></a>
								<span class="like-count">
							5.34k
						</span>
							</li>
							<li>
								<a href="#" class="tw_bg"><i class="fa fa-twitter"></i></a>
								<span class="like-count">
							3.4k
						</span>
							</li>
							<li>
								<a href="#" class="go_bg"><i class="fa fa-google-plus"></i></a>
								<span class="like-count">
							4.5k
						</span>
							</li>
						</ul>
					</div>
					<!-- /.blog-footer -->
				</div>
				<!-- /.blog-details -->

				<div class="author-about-inner">
					<h3 class="commtent-title">About The Author</h3>

					<div class="author-about clearfix">
						<div class="avatar">
							<img src="media/blog/48.jpg" alt="Thumb">
						</div>

						<div class="content">
							<h4 class="author-name">N0RM</h4>
							<ul class="social-link">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>

							<p>
								Playing CS:GO for 5 years, previously CS 1.6 fanatic for more than 8y.
							</p>

						</div>
					</div>
				</div>
				<!-- /.author-about-inner -->
{% endblock content %}
