{% extends 'index_base.html' %}
{% load staticfiles %}

{% block title %}Index Page{% endblock %}

{% block content %}
		<h1>{{ message }}</h1>
		<!--===========================-->
		<!--=        Torurmant        =-->
		<!--===========================-->
		<section id="tournaments">
			<div class="container">

				<div class="swiper-container tim-logo-carousel" data-swiper-config='{"loop": true, "speed": 700, "spaceBetween": 30, "autoplay": 3000, "pagination":"#brand-swiper-pagination", "slidesPerView": 3, "grabCursor": true, "paginationClickable": true, "breakpoints": { "991": { "slidesPerView": 2 }, "767": { "slidesPerView": 1 }}}'>
					<div class="swiper-wrapper">
						{% for tournament in tournaments_list %}
						<div class="swiper-slide">
							<div class="trurnament-inner wow fadeInRight" data-wow-duration="1000ms">
								<div class="torurmant clearfix">
									<div class="tgame game-item">
										<img src="media/game/c1.jpg" alt="Game">
										<h4><a href="#">{{ tournament.trName }}</a></h4>
									</div>
								</div>

								<div class="tournaments-details clearfix">
									<div class="tournamant-date">
										<div class="date">
											<h4>December<br> 10</h4>
										</div>

										<div class="date">
											<h4>Days<br> 20</h4>
										</div>

										<div class="date">
											<h4>Hour<br> {{ tournament.trTime }}</h4>
										</div>
									</div>

									<div class="view-details clearfix">
										<div class="details">
											<ul class="review">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-o"></i></li>
												<li><i class="fa fa-star-o"></i></li>
											</ul>

											<a href="#" class="tim-btn">View Details</a>
										</div>

										<div class="details float-right">
											<ul class="review">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-o"></i></li>
												<li><i class="fa fa-star-o"></i></li>
											</ul>

											<a class="meta" href="#"><i class="fa fa-comments"></i> Comments</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor%}
					</div>
				</div>
			</div>
			<!-- /.container -->
		</section>
		<!-- /#tournaments -->


		<!--==============++=======-->
		<!--=        Behind        =-->
		<!--================++=====-->
		<section class="section-padding" id="behind" data-parallax="image" data-bg-image="{% static 'media/blog/57.jpg' %}">
			<div class="container">
				<div class="section-title">
					<h3 class="sub-title wow fadeInUp" data-wow-duration="1000ms">Home Work</h3>
					<h2 class="title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.2s">Behind The <span>Game</span></h2>
					<span class="delemitter wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s" data-bg-image="{% static 'media/banner/s1.png' %}"></span>

					<div class="section-content wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.4s">
						<p>
							There is in the land of Mnar a vast still lake that is fed by no stream and out of which no stream flows. Ten thousand<br> years ago there stood by its shore the mighty city of Sarnath, but Sarnath stands there no more.
						</p>
					</div>
				</div>
				<div class="behind-items wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.7s">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="item bg__one skew__left">
									<div class="items-content">
										<div class="icone-wrap">
											<!-- <img src="media/behind/1.png" alt="icon"> -->
											<i class="flaticon-gamepad"></i>
										</div>

										<h3 class="title">Incredible Atmosphere</h3>

										<p class="content">
											Second Made make spirit green divide lesser creeping void and night replenish cattle don't was female first their day open.night replenish cattle don't was female first their day open.
										</p>
									</div>
									<!-- /.items-content -->
								</div>
								<!-- /.item -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.col-md-6 -->

						<div class="col-md-6">
							<div class="row">
								<div class="item bg__two skew__left">
									<div class="items-content">
										<div class="icone-wrap">
											<!-- <img src="media/behind/2.png" alt="icon"> -->
											<i class="flaticon-fire"></i>
										</div>

										<h3 class="title">Catchy Battles</h3>

										<p class="content">
											Second Made make spirit green divide lesser creeping void and night replenish cattle don't was female first their day open.night replenish cattle don't was female first their day open.
										</p>
									</div>
									<!-- /.items-content -->
								</div>
								<!-- /.item -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.col-md-6 -->

						<div class="col-md-6">
							<div class="row">
								<div class="item bg__two skew__right">
									<div class="items-content">
										<div class="icone-wrap">
											<!-- <img src="media/behind/3.png" alt="icon"> -->
											<i class="flaticon-trophy"></i>
										</div>

										<h3 class="title">28 Awards</h3>

										<p class="content">
											Second Made make spirit green divide lesser creeping void and night replenish cattle don't was female first their day open.night replenish cattle don't was female first their day open.
										</p>
									</div>
									<!-- /.items-content -->
								</div>
								<!-- /.item -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.col-md-6 -->

						<div class="col-md-6">
							<div class="row">
								<div class="item bg__one skew__right">
									<div class="items-content">
										<div class="icone-wrap">
											<!-- <img src="media/behind/4.png" alt="icon"> -->
											<i class="flaticon-man-with-bag-and-walking-stick"></i>
										</div>

										<h3 class="title">Unlimited Possibilities</h3>

										<p class="content">
											Second Made make spirit green divide lesser creeping void and night replenish cattle don't was female first their day open.night replenish cattle don't was female first their day open.
										</p>
									</div>
									<!-- /.items-content -->
								</div>
								<!-- /.item -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.col-md-6 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.behind-items -->
			</div>
			<!-- /.container -->
		</section>
		<!-- /#behind -->

		<!--===============================-->
		<!--=        Modal        =-->
		<!--===============================-->
		<!-- Sign in -->
		<div class="modal fade" id="signInModal">
			<div class="modal-dialog">
				<div class="modal-body">
					<ul class="nav">
						<li class="active">
							<i class="fa fa-user"></i>
							<a data-toggle="tab" href="#login">Login</a>
						</li>
						<li>
							<i class="fa fa-sign-in"></i>
							<a data-toggle="tab" href="#signup">SignUp</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="login" class="tab-pane fade in active">
							<div class="login-left">
								<div class="login-title">
									<h3>Sign in socially</h3>
								</div>
								<div class="login-social">
									<ul>
										<li class="facebook">
											<a href="">
									<i class="fa fa-facebook"></i>
									<span>Facebook</span>
								</a>
										</li>
										<li class="twitter">
											<a href="">
									<i class="fa fa-twitter"></i>
									<span>Twitter</span>
								</a>
										</li>
										<li class="pinterest">
											<a href="">
									<i class="fa fa-pinterest"></i>
									<span>Pinterest</span>
								</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="login-right">
								<div class="login-title">
									<h3>Sign in through GIO</h3>
								</div>
								<div class="login_main_form">
									<form action="#">
										<input type="text" placeholder="Email or Username">
										<input type="text" placeholder="Password">
										<label>
								<input type="checkbox" name="vehicle" value="Bike">
								Remember me
								<span>Forgot your password</span>
							</label>
										<input type="submit" value="sign in">
									</form>
								</div>
							</div>
						</div>
						<div id="signup" class="tab-pane fade">
							<div class="login-left">
								<div class="login-title">
									<h3>Sign in socially</h3>
								</div>
								<div class="login-social">
									<ul>
										<li class="facebook">
											<a href="">
									<i class="fa fa-facebook"></i>
									<span>Facebook</span>
								</a>
										</li>
										<li class="twitter">
											<a href="">
									<i class="fa fa-twitter"></i>
									<span>Twitter</span>
								</a>
										</li>
										<li class="pinterest">
											<a href="">
									<i class="fa fa-pinterest"></i>
									<span>Pinterest</span>
								</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="login-right">
								<div class="login-title">
									<h3>Sign in through GIO</h3>
								</div>
								<div class="login_main_form">
									<form action="#">
										<input type="text" placeholder="Username">
										<input type="text" placeholder="Email">
										<input type="text" placeholder="Password">
										<input type="text" placeholder="Confirm Password">
										<div class="select_wrapper">
											<select>
									<option value="Country">Country</option>
									<option value="England">England</option>
									<option value="America">America</option>
									<option value="India">India</option>
									<option value="Australia">Australia</option>
									<option value="Canada">Canada</option>
									<option value="Bangladesh">Bangladesh</option>
								</select>
										</div>
										<label>
								<input type="checkbox" name="vehicle" value="Bike">
								 I'm over 18 and I agree<span> Terms & Conditions!</span>
							</label>
										<input type="submit" value="sign in">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Sign in -->

		<!-- sign up -->
		<div class="modal fade" id="signUpModal">
			<div class="modal-dialog">
				<div class="modal-body">
					<ul class="nav">
						<li class="active">
							<i class="fa fa-user"></i>
							<a data-toggle="tab" href="#login2">Login</a>
						</li>
						<li>
							<i class="fa fa-sign-in"></i>
							<a data-toggle="tab" href="#signup2">SignUp</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="login2" class="tab-pane fade in active">
							<div class="login-left">
								<div class="login-title">
									<h3>Sign in socially</h3>
								</div>
								<div class="login-social">
									<ul>
										<li class="facebook">
											<a href="">
									<i class="fa fa-facebook"></i>
									<span>Facebook</span>
								</a>
										</li>
										<li class="twitter">
											<a href="">
									<i class="fa fa-twitter"></i>
									<span>Twitter</span>
								</a>
										</li>
										<li class="pinterest">
											<a href="">
									<i class="fa fa-pinterest"></i>
									<span>Pinterest</span>
								</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="login-right">
								<div class="login-title">
									<h3>Sign in through GIO</h3>
								</div>
								<div class="login_main_form">
									<form action="#">
										<input type="text" placeholder="Email or Username">
										<input type="text" placeholder="Password">
										<label>
								<input type="checkbox" name="vehicle" value="Bike">
								Remember me
								<span>Forgot your password</span>
							</label>
										<input type="submit" value="sign in">
									</form>
								</div>
							</div>
						</div>
						<div id="signup2" class="tab-pane fade">
							<div class="login-left">
								<div class="login-title">
									<h3>Sign in socially</h3>
								</div>
								<div class="login-social">
									<ul>
										<li class="facebook">
											<a href="">
									<i class="fa fa-facebook"></i>
									<span>Facebook</span>
								</a>
										</li>
										<li class="twitter">
											<a href="">
									<i class="fa fa-twitter"></i>
									<span>Twitter</span>
								</a>
										</li>
										<li class="pinterest">
											<a href="">
									<i class="fa fa-pinterest"></i>
									<span>Pinterest</span>
								</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="login-right">
								<div class="login-title">
									<h3>Sign in through GIO</h3>
								</div>
								<div class="login_main_form">
									<form action="#">
										<input type="text" placeholder="Username">
										<input type="text" placeholder="Email">
										<input type="text" placeholder="Password">
										<input type="text" placeholder="Confirm Password">
										<div class="select_wrapper">
											<select>
									<option value="Country">Country</option>
									<option value="England">England</option>
									<option value="America">America</option>
									<option value="India">India</option>
									<option value="Australia">Australia</option>
									<option value="Canada">Canada</option>
									<option value="Bangladesh">Bangladesh</option>
								</select>
										</div>
										<label>
								<input type="checkbox" name="vehicle" value="Bike">
								 I'm over 18 and I agree<span> Terms & Conditions!</span>
							</label>
										<input type="submit" value="sign in">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock content %}